# Node
node_modules/
*.log

# Python
venv/
__pycache__/
*.pyc

# zk artifacts pesados
*.ptau
*.zkey
*.r1cs
*.wtns
*.wasm

# proofs generados
proof.json
public.json
validInput.json
witness.wtns

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db